@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap");
.border-radius {
  border-radius: 15px;
}

.arrowDown {
  width: 100px;
  height: 50px;
  margin-top: 20%;
}

.arrowDown2 {
  width: 100px;
  height: 50px;
  margin-top: 4%;
}

.arrowDown3 {
  width: 100px;
  height: 50px;
  margin-top: 2%;
}

.buttonHome {
  width: 40%;
}

.buttonProj {
  width: 35%;
}

.buttonContact {
  width: 60%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/wp11.gif);
  background-repeat: round;
  background-size: cover;
  font-family: "Chivo mono";
}

.mainContainer {
  width: 80%;
}

.header {
  display: flex;
  align-items: center;
  background-color: white;
  padding-top: 11px;
  padding-left: 20px;
  border-radius: 10px;
  margin-top: 0.5%;
  height: 40px;
}
.header a {
  text-decoration: none;
  text-align: center;
  color: rgb(112, 108, 108);
}
.header a:hover {
  color: black;
}

.buttonHeader {
  font-size: 17px;
  padding: 0px 5px;
  border-radius: 10px;
  background-color: transparent;
  border-color: transparent;
  color: rgb(112, 108, 108);
  cursor: pointer;
  transition: 0.6s;
  margin-bottom: 2.5%;
}
.buttonHeader.buttonHeader:hover {
  color: black;
  background-color: white;
  border-color: rgb(33, 33, 33);
}

.homeContainer {
  display: grid;
  align-items: center;
  justify-content: center;
}

ul, li {
  list-style: none;
}

.paragraphIntro {
  font-size: 60px;
}

.descIntro {
  font-size: 24px;
  color: rgb(174, 169, 169);
}

.btn {
  padding: 10px 23px;
  display: inline;
}

.btn2 {
  margin-left: 2%;
  padding: 10px 45px;
}

.aboutMe {
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerAboutMe {
  height: 600vh;
  color: white;
  padding: 0px;
}

.textAboutMe {
  font-size: 21px;
}

.textAboutMe2 {
  font-size: 21px;
}

.projectsTitle {
  font-size: 50px;
}

.carousel {
  width: 700px;
}

.projectsContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projPicture {
  height: 350px;
  width: auto;
}

.projItemTitle {
  font-size: 28px;
  padding: 30px 0px 10px 10px;
}

.projItemContent {
  font-size: 17px;
}

.buttonProj {
  width: 35%;
}

a {
  text-decoration: none;
  color: white;
}

.contactContainer {
  display: grid;
  align-items: center;
  color: white;
  height: 100vh;
}

.buttonContact {
  width: 20%;
}

.container1 {
  height: 100vh;
  color: white;
  padding: 0px;
}

.top-bottom {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: white;
  color: grey;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
}
.top-bottom:hover {
  color: black;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 0.5%;
}
.footer a {
  text-decoration: none;
  height: 75%;
  text-align: center;
  color: rgb(112, 108, 108);
}
.footer a:hover {
  color: black;
}
.footer .copyLuc {
  color: rgb(47, 47, 47);
}

@media (max-width: 1047px) {
  .carousel-control-prev, .carousel-control-next {
    margin-bottom: 150px;
  }
  .buttonHome {
    width: 50%;
  }
  .paragraphIntro {
    font-size: 40px;
  }
  .textAboutMe {
    font-size: 15px;
  }
  .textAboutMe2 {
    font-size: 15px;
  }
  .projectsTitle {
    font-size: 40px;
  }
  .carousel {
    margin-top: 20px;
    width: 550px;
  }
  .projPicture {
    height: 300px;
  }
  .projItemTitle {
    font-size: 20px;
  }
  .projItemContent {
    font-size: 15px;
  }
  .buttonContact {
    width: 20%;
  }
}
@media (max-width: 993px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .buttonContact {
    width: 30%;
  }
}
@media (max-width: 841px) {
  .paragraphIntro {
    font-size: 30px;
  }
  .projectsTitle {
    font-size: 30px;
  }
  .carousel {
    margin-top: 20px;
    width: 450px;
  }
  .projPicture {
    height: 280px;
  }
  .projItemTitle {
    font-size: 20px;
  }
  .projItemContent {
    font-size: 15px;
  }
}
@media (max-width: 671px) {
  .buttonContact {
    width: 40%;
  }
}
@media (max-width: 639px) {
  .paragraphIntro {
    font-size: 30px;
  }
  .projectsTitle {
    font-size: 25px;
  }
  .carousel {
    margin-top: 20px;
    width: 450px;
  }
  .projPicture {
    height: 280px;
  }
  .projItemTitle {
    font-size: 20px;
  }
  .projItemContent {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .aboutMeMain {
    display: grid;
  }
  .aboutMeContent {
    margin-top: 20px;
  }
  .textAboutMe {
    margin-top: 10px;
  }
  .textAboutMe2 {
    margin-top: 10px;
    margin-right: 35px;
  }
  .arrowDown2 {
    margin-top: -14px;
  }
  .arrowDown3 {
    margin-top: 14px;
    margin-left: 6%;
  }
  .container1 {
    margin-top: 40%;
  }
}
@media (max-width: 537px) {
  .projectsTitle {
    font-size: 20px;
  }
  .carousel {
    margin-top: 23px;
    width: 400px;
  }
  .projPicture {
    height: 280px;
  }
  .projItemTitle {
    font-size: 20px;
  }
  .projItemContent {
    font-size: 15px;
  }
  .header {
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 10%;
    height: 40px;
  }
  .header a {
    text-decoration: none;
    text-align: center;
    color: rgb(112, 108, 108);
  }
  .header a:hover {
    color: black;
  }
  .buttonHeader {
    font-size: 15px;
    padding: 0px 5px;
    border-radius: 10px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(112, 108, 108);
    cursor: pointer;
    transition: 0.6s;
    margin-bottom: 2.5%;
  }
  .buttonHeader.buttonHeader:hover {
    color: black;
    background-color: white;
    border-color: rgb(33, 33, 33);
  }
}
@media (max-width: 510px) {
  .buttonContact {
    width: 80%;
  }
}
@media (max-width: 485px) {
  .header {
    font-size: 5px;
    border-radius: 10px;
    margin-bottom: 10%;
    height: 40px;
  }
  .header a {
    text-decoration: none;
    text-align: center;
    color: rgb(112, 108, 108);
  }
  .header a:hover {
    color: black;
  }
  .buttonHeader {
    font-size: 14px;
    padding: 0px 5px;
    border-radius: 10px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(112, 108, 108);
    cursor: pointer;
    transition: 0.6s;
    margin-bottom: 2.5%;
  }
  .buttonHeader.buttonHeader:hover {
    color: black;
    background-color: white;
    border-color: rgb(33, 33, 33);
  }
  .container1 {
    margin-top: 40%;
  }
  .projectsTitle {
    font-size: 20px;
  }
  .carousel {
    margin-top: 23px;
    width: 400px;
  }
  .projPicture {
    height: 280px;
  }
  .projItemTitle {
    font-size: 20px;
  }
  .projItemContent {
    font-size: 15px;
  }
  .arrowDown3 {
    margin-top: 20px;
    margin-right: 5px;
  }
}
@media (max-width: 448px) {
  .header {
    font-size: 5px;
    border-radius: 10px;
    margin-bottom: 10%;
    height: 80px;
  }
  .header a {
    text-decoration: none;
    text-align: center;
    color: rgb(112, 108, 108);
  }
  .header a:hover {
    color: black;
  }
  .projectsTitle {
    font-size: 17px;
  }
  .carousel {
    margin-top: 23px;
    width: 400px;
  }
  .projPicture {
    height: 280px;
  }
  .projItemTitle {
    font-size: 14px;
  }
  .projItemContent {
    font-size: 12px;
  }
  .buttonHeader {
    font-size: 19px;
    padding: 0px 5px;
    border-radius: 10px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(112, 108, 108);
    cursor: pointer;
    transition: 0.6s;
    margin-left: 10%;
    margin-bottom: 2.5%;
  }
  .buttonHeader.buttonHeader:hover {
    color: black;
    background-color: white;
    border-color: rgb(33, 33, 33);
  }
}
@media (max-width: 390px) {
  .header {
    font-size: 5px;
    border-radius: 10px;
    margin-bottom: 10%;
    height: 80px;
  }
  .header a {
    text-decoration: none;
    text-align: center;
    color: rgb(112, 108, 108);
  }
  .header a:hover {
    color: black;
  }
  .buttonHeader {
    font-size: 15px;
    padding: 0px 5px;
    border-radius: 10px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(112, 108, 108);
    cursor: pointer;
    transition: 0.6s;
    margin-left: 10%;
    margin-bottom: 2.5%;
  }
  .buttonHeader.buttonHeader:hover {
    color: black;
    background-color: white;
    border-color: rgb(33, 33, 33);
  }
  .buttonHome {
    width: 60%;
  }
}
@media (max-width: 375px) {
  .container1 {
    margin-top: 50%;
  }
  .projectsTitle {
    font-size: 15px;
  }
  .carousel {
    margin-top: 23px;
    width: 350px;
  }
  .projPicture {
    height: 230px;
  }
  .projItemTitle {
    font-size: 13px;
  }
  .projItemContent {
    font-size: 12px;
  }
}
@media (max-width: 335px) {
  .header {
    font-size: 5px;
    border-radius: 10px;
    margin-bottom: 10%;
    height: 80px;
  }
  .header a {
    text-decoration: none;
    text-align: center;
    color: rgb(112, 108, 108);
  }
  .header a:hover {
    color: black;
  }
  .buttonHeader {
    font-size: 14px;
    padding: 0px 5px;
    border-radius: 10px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(112, 108, 108);
    cursor: pointer;
    transition: 0.6s;
    margin-left: 8%;
    margin-bottom: 2.5%;
  }
  .buttonHeader.buttonHeader:hover {
    color: black;
    background-color: white;
    border-color: rgb(33, 33, 33);
  }
  .buttonHome {
    width: 80%;
  }
  .arrowDown {
    margin-bottom: 50%;
  }
  .arrowDown2 {
    margin-bottom: 50%;
  }
  .projectsTitle {
    font-size: 13px;
  }
  .carousel {
    margin-top: 23px;
    width: 300px;
  }
  .projPicture {
    height: 240px;
  }
  .projItemTitle {
    font-size: 13px;
  }
  .projItemContent {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
