@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap");
.border-radius {
  border-radius: 15px;
}

.buttonTitleHome {
  background-color: transparent;
  color: white;
  border: 0px;
  border-radius: 15px;
}
.buttonTitleHome:hover {
  background-color: rgba(10, 6, 90, 0.4);
}

.arrowDownUpside {
  width: 100px;
  height: 50px;
  margin-top: 5%;
  margin-right: 5px;
  transform: rotate(180deg);
}

.arrowDown {
  width: 100px;
  height: 50px;
}

.arrowDown2Upside2 {
  width: 100px;
  height: 50px;
  margin-right: 5px;
  transform: rotate(180deg);
}

.arrowDown2 {
  width: 100px;
  height: 50px;
  margin-top: -10%;
}

.arrowDown3 {
  width: 100px;
  height: 50px;
  margin-right: -6px;
}

.arrowDown3Upside3 {
  width: 100px;
  height: 50px;
  transform: rotate(180deg);
}

.arrowDownUpsideContact {
  width: 100px;
  height: 50px;
  margin-top: 3%;
  transform: rotate(180deg);
}

.buttonHome {
  width: 40%;
}

.buttonProj {
  width: 35%;
}

.buttonContact {
  width: 60%;
}

/*Em caso de querer mudar os fundos de cada um dos containers, é só descomentar os containers específicos abaixo.*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/wp11.gif);
  background-repeat: round;
  background-size: cover;
  font-family: "Chivo mono";
}

.mainContainer {
  width: 100%;
}

.header {
  background-color: white;
  padding-top: 11px;
  padding-left: 20px;
  border-radius: 10px;
  height: 50px;
}

.btn-outline-primary:hover {
  background-color: rgb(10, 6, 90);
  border: none;
}

.buttonHeader {
  margin-bottom: 90px;
  min-width: 10%;
  font-size: 17px;
  border-radius: 10px;
  background-color: transparent;
  border-color: transparent;
  color: rgb(52, 52, 52);
  cursor: pointer;
  transition: 0.6s;
  margin-bottom: 5%;
}

.homeContainer {
  display: grid;
  align-items: center;
  justify-content: center;
}

ul, li {
  list-style: none;
}

.paragraphIntro {
  font-size: 60px;
}

.descIntro {
  font-size: 24px;
  color: rgb(140, 138, 138);
}

.btn {
  padding: 10px 23px;
  display: inline;
}

.btn2 {
  margin-left: 2%;
  padding: 10px 45px;
}

.aboutMe {
  height: 100vh;
  padding: 0px 55px;
  color: white;
  display: flex;
  justify-content: center;
}

.textAboutMe {
  font-size: 21px;
}

.textAboutMe2 {
  font-size: 21px;
}

.projectsTitle {
  font-size: 50px;
}

.carousel {
  width: 700px;
}

.carousel-control-next {
  margin-right: -3%;
  margin-bottom: 29%;
}

.carousel-control-prev {
  margin-left: -3%;
  margin-bottom: 29%;
}

.projectsContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projPicture {
  border: 3px solid white;
  border-radius: 15px;
  margin-top: 1%;
  height: 350px;
  width: auto;
}

.projItemTitle {
  font-size: 28px;
  padding: 10px 0px 10px 10px;
}

.projItemContent {
  margin-top: -15px;
  font-size: 17px;
}

.iconsbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 50%;
  justify-content: center;
}

.bi {
  background-color: blue;
}

.buttonProj {
  margin-top: 4%;
  width: 40%;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.contactContainer {
  display: grid;
  align-items: center;
  color: white;
  height: 100vh;
}

.buttonContact {
  width: 20%;
}

.container1 {
  height: 100vh;
  color: white;
  padding: 0px;
}

.top-bottom {
  position: fixed;
  bottom: 5px;
  right: 20px;
  background-color: white;
  color: grey;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
}
.top-bottom:hover {
  color: black;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 51px;
  border-radius: 10px;
  font-size: 17px;
}
.footer .copyLuc {
  color: rgb(52, 52, 52);
  margin-left: 45px;
}

@media (max-width: 1047px) {
  .carousel-control-prev, .carousel-control-next {
    margin-bottom: 150px;
  }
  .buttonHome {
    width: 50%;
  }
  .paragraphIntro {
    font-size: 40px;
  }
  .textAboutMe {
    font-size: 15px;
  }
  .textAboutMe2 {
    font-size: 15px;
  }
  .projectsTitle {
    font-size: 40px;
  }
  .carousel {
    margin-top: 20px;
    width: 550px;
  }
  .projPicture {
    height: 300px;
  }
  .projItemTitle {
    font-size: 20px;
  }
  .projItemContent {
    font-size: 15px;
  }
  .buttonContact {
    width: 20%;
  }
}
@media (max-width: 993px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .buttonHeader {
    padding: 0px 20px;
  }
  .buttonContact {
    width: 30%;
  }
}
@media (max-width: 841px) {
  .paragraphIntro {
    font-size: 30px;
  }
  .projectsTitle {
    font-size: 30px;
  }
  .carousel {
    margin-top: 20px;
    width: 450px;
  }
  .projPicture {
    height: 280px;
  }
  .projItemTitle {
    font-size: 20px;
  }
}
@media (max-width: 671px) {
  .buttonHeader {
    font-size: 15px;
  }
  .buttonContact {
    width: 40%;
  }
}
@media (max-width: 639px) {
  .paragraphIntro {
    font-size: 30px;
  }
  .projectsTitle {
    font-size: 30px;
  }
  .carousel {
    margin-top: 20px;
    width: 450px;
  }
  .projPicture {
    height: 280px;
  }
  .projItemTitle {
    font-size: 20px;
  }
  .projItemContent {
    font-size: 15px;
  }
  .arrowDown2 {
    margin-top: 0%;
  }
}
@media (max-width: 610px) {
  .aboutMeMain {
    display: grid;
  }
  .aboutMeContent {
    margin-top: 20px;
  }
  .textAboutMe {
    margin-top: 10px;
  }
  .textAboutMe2 {
    margin-top: 10px;
    margin-right: 35px;
  }
  .container1 {
    margin-top: 40%;
  }
  .aboutMe {
    height: 130vh;
  }
}
@media (max-width: 537px) {
  .projectsTitle {
    margin-top: 50%;
    font-size: 30px;
  }
  .carousel {
    margin-top: 23px;
    width: 400px;
  }
  .projPicture {
    height: 280px;
  }
  .projItemTitle {
    font-size: 20px;
  }
  .projItemContent {
    font-size: 15px;
  }
  .header {
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 10%;
  }
}
@media (max-width: 510px) {
  .buttonContact {
    width: 80%;
  }
}
@media (max-width: 485px) {
  .header {
    font-size: 5px;
    padding: 6px 175px;
    border-radius: 10px;
    margin-bottom: 10%;
    height: 40px;
  }
  .container1 {
    margin-top: 50%;
  }
  .projectsTitle {
    margin-top: 60%;
    font-size: 30px;
  }
  .carousel {
    margin-top: 23px;
    width: 400px;
  }
  .projPicture {
    height: 280px;
  }
  .projItemTitle {
    font-size: 20px;
  }
  .projItemContent {
    font-size: 15px;
  }
}
@media (max-width: 448px) {
  .header {
    display: grid;
    padding: 2% 50%;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    height: 80px;
  }
  .header .buttonHeader {
    font-size: 18px;
    margin-bottom: -15%;
  }
  .projectsTitle {
    margin-top: 60%;
    font-size: 30px;
  }
  .carousel {
    margin-top: 23px;
    width: 350px;
  }
  .projPicture {
    height: 250px;
  }
  .projItemTitle {
    font-size: 20px;
  }
  .projItemContent {
    font-size: 12px;
  }
  .buttonHeader {
    font-size: 19px;
    padding: 0px 5px;
    border-radius: 10px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(52, 52, 52);
    cursor: pointer;
    transition: 0.6s;
    margin-left: 10%;
    margin-bottom: 2.5%;
  }
}
@media (max-width: 448px) and (max-width: 390px) {
  .buttonHeader {
    font-size: 13px;
  }
  .buttonHome {
    width: 60%;
  }
}
@media (max-width: 379px) {
  .arrowDown2 {
    margin-bottom: -20px;
  }
  .container1 {
    margin-top: 55%;
  }
  .projectsTitle {
    margin-top: 100%;
    font-size: 25px;
  }
  .carousel {
    margin-top: 23px;
    width: 350px;
  }
  .projPicture {
    height: 230px;
  }
  .projItemTitle {
    font-size: 13px;
  }
  .projItemContent {
    font-size: 12px;
  }
}
@media (max-width: 344px) {
  .header {
    border-radius: 10px;
    margin-bottom: 10%;
    height: 80px;
  }
  .paragraphIntro {
    font-size: 25px;
  }
  .descIntro {
    font-size: 18px;
  }
  .buttonHome {
    width: 80%;
  }
  .arrowDown {
    margin-bottom: 50%;
  }
  .projectsTitle {
    margin-top: 100%;
    font-size: 25px;
  }
  .carousel {
    margin-top: 23px;
    width: 300px;
  }
  .projPicture {
    height: 240px;
  }
  .projItemTitle {
    font-size: 12px;
  }
  .projItemContent {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
