*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url(../images/wp11.gif);
  background-repeat: round;
  background-size: cover;
  font-family: 'Chivo mono'
}
.mainContainer{
  width: 100%;
}
.header{
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
  padding-top: 11px;
  padding-left: 20px;
  border-radius: 10px;
  height: 50px;
}
// .headerImage1{
//   width: 32px;
//   background-color: blue;
//   border-radius: 30px;
//   height: 30px;
//   margin-left: 87%;
//   padding-right: 0;
// }
// .headerImage2{
//   width: 32px;
//   height: 30px;
//   border-radius: 30px;
//   // margin-left: 88%;
//   // padding-right: 5%;
// }
.btn-outline-primary:hover{
  background-color: rgb(10, 6, 90);
  border: none;
}
.buttonHeader{
  margin-bottom: 90px;
  min-width: 10%;
  font-size: 17px;
  border-radius: 10px;
  background-color: transparent;
  border-color: transparent;
  color: $buttonColor;
  cursor: pointer;
  transition: 0.6s;
  margin-bottom: 5%;
}
.homeContainer{
  display: grid;
  align-items: center;
  justify-content: center;
}
ul, li{
  list-style: none;
}

.paragraphIntro{
  // border-bottom: 5px solid white;
  // border-radius: 0px;
  font-size: 60px;
}
.descIntro{
  font-size: 24px;
  color: rgb(140, 138, 138);
}
.btn{
  padding: $padding-buttom1;
  display: inline;
  
}
.btn2{
  margin-left: 2%;
  padding: $padding-buttom2;
}
.aboutMe{
  // margin: 0px 0%;
  height: 100vh;
  padding: 0px 55px;
  color: white;
  display: flex;
  justify-content: center;
  // align-items: center;
}
.textAboutMe{
  font-size: 21px;
}
.textAboutMe2{
  font-size: 21px;
}
.projectsTitle{
  // padding: 50px;
  font-size: 50px;
}
.carousel{
  // margin-top: -5%;
  width: 700px;
}
.carousel-control-next{
  margin-right: -3%;
  margin-bottom: 29%;
}
.carousel-control-prev{
  margin-left: -3%;
  margin-bottom: 29%;
}
.projectsContent{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projPicture{
  border: 3px solid white;
  border-radius: 15px;
  margin-top: 1%;
  height: 350px;
  width: auto;
}
.projItemTitle{
  font-size: 28px;
  padding: 10px 0px 10px 10px;
}
.projItemContent{
  margin-top: -15px;
  font-size: 17px;
}
.iconsbox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 50%;
  justify-content: center;
}
.bi{
  background-color: blue;
  // width: 500px;
  // height: 200px;
}
.buttonProj{
  margin-top: 4%;
  width: 40%;
  text-align: center;
}
a{
  text-decoration: none;
  color: white
}

.contactContainer{
  display: grid;
  align-items: center;
  color: white;
  height: 100vh;
}
.buttonContact{
  width: 20%;
}
.container1{
  height: 100vh;
  color: white;
  padding: 0px;
}
//Botão inferior VoltarTOPO
.top-bottom{
  position: fixed;
  bottom: 5px;
  right: 20px;
  background-color: white;
  color: grey;
  padding: 5px 15px;
  border: none;
  cursor: pointer;

  &:hover{
    color: black;
  }
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 50px;
  border-radius: 10px;
  // margin-bottom: 0.5%;
  font-size: 17px;
  // margin-left: 0px;

  &
  .copyLuc{
    color: $buttonColor;
    margin-left: 45px;
  }
}

///////////////////////// RESPONSIVIDADE
@media (max-width: 1047px){
  // .headerImage1{
  //   margin-left: 80%;
  // }
  .carousel-control-prev, .carousel-control-next{
    margin-bottom: 150px;
  }
  .buttonHome{
    width: 50%;
  }
  .paragraphIntro{
    font-size: 40px;
  }
  .textAboutMe{
    font-size: 15px;
  }
  .textAboutMe2{
    font-size: 15px;
  }
  .projectsTitle{
    font-size: 40px;
  }
  .carousel{
    margin-top: 20px;
    width: 550px;
  }
  .projPicture{
    height: 300px;
  }
  .projItemTitle{
    font-size: 20px;
  }
  .projItemContent{
    font-size: 15px;
  }
  .buttonContact{
    width: 20%;
  }
}
@media (max-width: 993px){
  // .headerImage1{
  //   margin-left: 76%;
  // }
  .header{
    display: flex;
    justify-content: center;
  }
  .buttonHeader{
    padding: 0px 20px;
  }
  .buttonContact{
    width: 30%;
  }
  
}
@media(max-width: 841px){
  // .headerImage1{
  //   margin-left: 70%;
  // }
  .paragraphIntro{
    font-size: 30px;
  }
  .projectsTitle{
    font-size: 30px;
  }
  .carousel{
    margin-top: 20px;
    width: 450px;
  }
  .projPicture{
    height: 280px;
  }
  .projItemTitle{
    font-size: 20px;
  }
  // .projItemContent{
  //   font-size: 15px;
  // }
}
// @media (max-width: 762px){
//   .headerImage1{
//     margin-left: 60%;
//   }
// }
@media (max-width: 671px){
  .buttonHeader{
    font-size: 15px;
  }
  .buttonContact{
    width: 40%;
  }
}
// @media (max-width: 700px){
//   .headerImage1{
//     margin-left: 55%;
//   }
// }
@media (max-width: 639px){
  // .headerImage1{
  //   margin-left: 50%;
  // }
  .paragraphIntro{
    font-size: 30px;
  }
  .projectsTitle{
    font-size: 30px;
  }
  .carousel{
    margin-top: 20px;
    width: 450px;
  }
  .projPicture{
    height: 280px;
  }
  .projItemTitle{
    font-size: 20px;
  }
  .projItemContent{
    font-size: 15px;
  }
  .arrowDown2{
    margin-top: 0%;
  }
}

@media (max-width: 610px){
  // .headerImage1{
  //   margin-left: 35%;
  // }
  .aboutMeMain{
    display: grid;
  }
  .aboutMeContent{
    margin-top: 20px;
  }
  .textAboutMe{
    margin-top: 10px;
  }
  .textAboutMe2{
    margin-top: 10px;
    // margin-right: 20px;
    margin-right: 35px;
  }
  .container1{
    margin-top: 40%;
  }
  .aboutMe{
    height: 130vh;
  }
}
// @media (max-width: 565px){
//   .headerImage1{
//     margin-left: 15%;
//   }
// }
@media (max-width: 537px){
  .projectsTitle{
    margin-top: 50%;
    font-size: 30px;
  }
  .carousel{
    margin-top: 23px;
    width: 400px;
  }
  .projPicture{
    height: 280px;
  }
  .projItemTitle{
    font-size: 20px;
  }
  .projItemContent{
    font-size: 15px;
  }
  .header{
    font-size: 14px;
    // padding-top: 11px;
    // padding-left: 20px;
    border-radius: 10px;
    margin-bottom: 10%;
    // height: 40px;
  }
}
@media (max-width: 510px){
  .buttonContact{
    width: 80%;
  }
}

@media (max-width: 485px){
  .header{
    // display: grid;
    font-size: 5px;
    padding: 6px 175px;
    border-radius: 10px;
    margin-bottom: 10%;
    height: 40px;
  }
  .container1{
    margin-top: 50%;
  }
  .projectsTitle{
    margin-top: 60%;
    font-size: 30px;
  }
  .carousel{
    margin-top: 23px;
    width: 400px;
  }
  .projPicture{
    height: 280px;
  }
  .projItemTitle{
    font-size: 20px;
  }
  .projItemContent{
    font-size: 15px;
  }
}
@media (max-width: 448px){
  .header{
    display: grid;
    padding: 2% 50%;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    height: 80px;
 
    .buttonHeader{
      font-size: 18px;
      margin-bottom: -15%;
    }
  }

  .projectsTitle{
    margin-top: 60%;
    font-size: 30px;
  }
  .carousel{
    margin-top: 23px;
    width: 350px;
  }
  .projPicture{
    height: 250px;
  }
  .projItemTitle{
    font-size: 20px;
  }
  .projItemContent{
    font-size: 12px;
  }
  .buttonHeader{
    font-size:  19px;
    padding: 0px 5px;
    border-radius: 10px;
    background-color: transparent;
    border-color: transparent;
    color: $buttonColor;
    cursor: pointer;
    transition: 0.6s;
    margin-left: 10%;
    margin-bottom: 2.5%;
}
@media (max-width: 390px){
  .buttonHeader{
    font-size:  13px;
  }
  .buttonHome{
    width: 60%;
  }
  .projPicture{
    margin-right: 200px;
  }
}
}
@media (max-width: 379px){
  .arrowDown2{
    margin-bottom: -20px;
  }
  .container1{
    margin-top: 50%;
  }
  .projectsTitle{
    margin-top: 60%;
    font-size: 25px;
  }
  .carousel{
    margin-top: 23px;
    width: 350px;
  }
  .projPicture{
    height: 230px;
  }
  .projItemTitle{
    font-size: 13px;
  }
  .projItemContent{
    font-size: 12px;
  }
}

@media (max-width: 344px){
  .header{
    border-radius: 10px;
    margin-bottom: 10%;
    height: 80px;
  }
  .paragraphIntro{
    font-size: 25px;
  }
  .descIntro{
    font-size: 18px;
  }
  .buttonHome{
    width: 80%;
  }
  .arrowDown{
    margin-bottom: 50%;
  }
  .projectsTitle{
    margin-top: 60%;
    font-size: 25px;
  }
  .carousel{
    margin-top: 23px;
    width: 300px;
  }
  .projPicture{
    height: 240px;
  }
  .projItemTitle{
    font-size: 12px;
  }
  .projItemContent{
    font-size: 12px;
  }
}
