.border-radius{
  border-radius: 15px;
}

.arrowDown{
  width: 100px;
  height: 50px;
  margin-top: 20%;
}
.arrowDown2{
  width: 100px;
  height: 50px;
  margin-top: -10%;
}
.arrowDown3{
  width: 100px;
  height: 50px;
  margin-top: 6%;
}