.border-radius{
  border-radius: 15px;
}
.arrowDown{
  width: 100px;
  height: 50px;
  margin-top: 20%;
}
.arrowDown2{
  width: 100px;
  height: 50px;
  margin-top: -10%;
}
.arrowDown3{
  width: 100px;
  height: 50px;
  margin-top: 6%;
}

#home{
  // background-image: url(../images/wp1.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

#sobreMim{
  // background-image: url(../images/wp2.gif);
  background-repeat: no-repeat;
  background-size: cover;
}